.THIS {
    
    font-size:20px;
    background-color:grey;
    border: 5px ;
    border-style:groove;
   margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
     padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: "Times New Roman", Times, serif;
}